[Unit]
Description=Clients service

[Service]
Type=forking
User=chibi
Group=chibi

WorkingDirectory=/home/chibi/projects/clients_service__main/API_Clients/bin/Release/netcoreapp3.1/
ExecStart=/usr/share/dotnet/dotnet /home/chibi/projects/clients_service__main/API_Clients/bin/Release/netcoreapp3.1/API_Clients.dll

KillSignal=SIGINT
SyslogIdentifier=Sigrha_client_service
EnvironmentFile=/etc/systemd/system/sigrha_clients.env

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
