[Unit]
Description=quetzalcoalt celery daemon
After=network.target

[Service]
Type=forking
User=celery
Group=celery

WorkingDirectory=/home/chibi/projects/quetzalcoatl
EnvironmentFile=/etc/systemd/system/celery.env
ExecStart=/bin/sh -c '/usr/local/bin/celery multi start ${CELERYD_NODES} \
  -A ${CELERY_APP} --pidfile=${CELERYD_PID_FILE} \
  --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} \
  ${CELERYD_OPTS}'
ExecStop=/bin/sh -c '/usr/local/bin/celery multi stopwait ${CELERYD_NODES} \
  --pidfile=${CELERYD_PID_FILE}'
ExecReload=/bin/sh -c '/usr/local/bin/celery multi restart ${CELERYD_NODES} \
  -A ${CELERY_APP} --pidfile=${CELERYD_PID_FILE} \
  --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} \
  ${CELERYD_OPTS}'

[Install]
WantedBy=multi-user.target
